html, body {
  margin: 0;
  padding: 0;
  height: 100%
}

#c {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg {
  background: url("../assets/images/background.png") no-repeat center center fixed;
  color: white;
  display: flex;
  height: 100%;
  flex-direction: column;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.controls {
  margin: 0.5em;
}
